body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
}
 /* css for the main page */
.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    color: #fff;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}

.main-content {
    margin-left: 200px;
    padding: 20px;
    width: calc(100% - 200px);
}

.hidden {
    display: none;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: aliceblue;
    text-align: center;
    border: none;
   
}
/* css for the profile page */
.card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
    height: 120px;
}
.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card a{
    padding: 15px;
    text-decoration: none;
    color: #130dccdf;
    display: block;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Css for the availability page */


.availability-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.availability-status {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.date-time-picker {
    margin-top: 20px;
    display: none;
}

.date-time-picker label {
    font-weight: bold;
}

.date-time-picker input {
    padding: 8px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.save-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.save-button:hover {
    background-color: #45a049;
}



.category {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.category img {
    width: 100%;
    height: 60%;
}

.category-title {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.category:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.snack-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
   
}

.snack-card h2 {
    font-size: 1.5em;
}

.snack-card img {
    width: 50%;
    height: 30%;
}
.snack-card .btn-add {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.snack-card .btn-add:hover {
    background-color: #0056b3;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding-top: 5%;
   padding-bottom: 5%;
}
